{# templates/pages/accessibilite.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accessibilité{% endblock %}

{% block body %}
    <h1>Accessibilité</h1>
    <!-- Contenu sur l'accessibilité -->
    {% include "partials/footer.php" %}

{% endblock %}
